
<div class="col-md-6 offset-md-3 mt-5">
    
    <div class="card">
        <h4 class="card-header">Add/Edit Location</h4>
        <div class="card-body">
            <form [formGroup]="locationform" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input type="text" formControlName="Description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Description.errors }" />
                    <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                        <div *ngIf="f.Description.errors.required">Description is required</div>
                    </div>
                </div>
               
                <button  class="btn btn-primary">
               
                    Add
                </button>
                <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
            </form>
        </div>
    </div>
</div>