
<!-- <a [routerLink]="['/user/bob']" [queryParams]="{debug: true}" fragment="education">
    link to user component
  </a> -->
  

  <div class="col-md-6 offset-md-3 mt-5">
    <a [routerLink]="" (click)="AddLocation()">add location</a>
    <div class="card" >
        <h4 class="card-header">
           
Locations
        </h4>
        <div class="card-body" >
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Location ID</th>
                    <th>Location Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let location of allLocations | async">
                    <td>{{location.Location_Id}}</td>
                    <td>{{location.Description}}</td>
                    <td>  <a [routerLink]= "['addlocation', location]"  ><i class="fa fa-edit" aria-hidden="true"></i> edit</a> </td>
                    <td> <a [routerLink]="['addlocation']"  fragment="education">Delete </a></td>
                  
                 
                </tbody>
              </table>
           
        </div>
    </div>
</div>