


<a  routerLink="Create"><i class="fa fa-plus" aria-hidden="true"> Add New</i></a>

<table class="table table-bordered">
  <thead class="ng-tns-2-2">
    <tr >
      <th class="ng-tns-2-2">Location ID</th>
      <th class="ng-tns-2-2">Description</th>
     
     
      <th class="ng-tns-2-2">Edit</th>

      <th class="ng-tns-2-2">Delete</th>
      <!-- <th _ngcontent-c10="" class="ng-tns-c10-2">Consumers</th> -->



    </tr>
  </thead>
  <tbody class="ng-tns-2-2">
    <tr data-toggle="collapse" class="ng-tns-2-2" *ngFor="let item of allLocations | async">
    
      <td >
        {{item.Location_Id }}
    
      </td>    
      <td>
        {{item.Description}}
      </td>
      
      
      <td>
         
        <a [routerLink]= "['Edit', item]"  ><i class="fa fa-edit" aria-hidden="true"></i>Edit</a>
      </td>
      <td>
      <a [routerLink]="" (click)="Delete(item.Location_Id)"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
  </td>
    </tr>

  </tbody>
</table>