


<a routerLink="Create"  ><i class="fa fa-plus" aria-hidden="true"> Add New</i></a>

<table class="table table-bordered">
  <thead class="ng-tns-2-2">
    <tr >
      <th class="ng-tns-2-2">CategoryID ID</th>
      <th class="ng-tns-2-2">Description</th>
      <th class="ng-tns-2-2">Department</th>
     
     
      <th class="ng-tns-2-2">Edit</th>

      <th class="ng-tns-2-2">Delete</th>
      <!-- <th _ngcontent-c10="" class="ng-tns-c10-2">Consumers</th> -->



    </tr>
  </thead>
  <tbody class="ng-tns-2-2">
    <tr data-toggle="collapse" class="ng-tns-2-2" *ngFor="let item of allcats | async">
    
      <td >
        <a [routerLink]= "['subcategory/', item.CategoryID ]"  ><i class="fa fa-edit" aria-hidden="true"></i>        {{item.CategoryID }}
        </a>
      </td>    
      <td>
        {{item.CategoryName}}
      </td>
      <td>
        {{item.DepartmentName}}
      </td>
      
      <td>
         Edit
        <!-- <a [routerLink]="['edit/',item.DepartmentID]"  ><i class="fa fa-edit" aria-hidden="true"></i>Edit</a> -->
      </td>
      <td>
      <!-- <a [routerLink]="" (click)="Delete(item)"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a> -->
    delete
  </td>
    </tr>

  </tbody>
</table>